.wrapper {
    min-height: 100vh;
    color: #000;
    font-family: 'comic sans ms', sans-serif;
    font-size: 1rem;
    background-color: #F6F1EE;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-align: center;
  }
  
  .container {
    background-color: #FAD8D7;
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 17px 34px -20px #000000;
            box-shadow: 0px 17px 34px -20px #000000;
  }
  
  
  .text {
    font-size: 0.8 rem;
    margin-bottom: 0.8em;
  }
  
  .container {
    width: 300px;
    overflow: hidden;
    padding: 0;
  }
  
  .img {
    width: 100%;
    height: auto;
    border-radius: 1em 1em 0 0;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  
  .img__container {
    height: 200px;
    overflow: hidden;
    margin-bottom: 1.5em;
  }
  
  .title {
    margin-bottom: 0.9em;
  }
  
  .subtitle {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.8em;
    font-weight: 400;
  }
  
  .content {
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 2em;
    margin-bottom: 1.8em;
  }
  
  .email {
    padding: 0.5rem 0 0.5rem 1rem;
    line-height: 1.5;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 1em;
    margin-bottom: 0.8em;
  }
  
  ::-webkit-input-placeholder {
    color: #777777;
  }
  
  :-ms-input-placeholder {
    color: #777777;
  }
  
  ::-ms-input-placeholder {
    color: #777777;
  }
  
  ::placeholder {
    color: #777777;
  }
  
  .subscribe {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f55951;
    padding: 0.5em 0;
    display: inline-block;
    border: none;
    border-radius: 2rem;
    width: 60%;
    margin-bottom: 1.3em;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  